.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;

}
body{
  padding-left: 15vw;
  padding-right: 15vw;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(15, 23, 36);
  color: white;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

header {
  display: flex;
  flex-direction: column;
}

nav {
  padding-top: 5vh;
  padding-bottom:10vh ;
  display: flex;
  justify-content: space-between;
}

nav li {

  justify-items: auto;
  font-size: small;
  list-style: none;
}

#top-image {
  border-radius: 100%;
  /* border: 5px solid black; */
  box-shadow: rgb(48, 154, 202) 0px 4px 9px 0px;
}

#head {
  display: flex;
  justify-content: space-between;

}

/* #head-text {
  width: 50vw;
} */

#head {
  padding-top: 10vh;
}


.text-g-color {
  /* background: rgb(134,101,214); */
  /* color: linear-gradient(90deg, rgba(134,101,214,1) 0%, rgba(48,154,202,1) 100%); */
  background: -webkit-linear-gradient(180deg, rgba(134, 101, 214, 1) 0%, rgba(48, 154, 202, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.font-size-main-heading {
  font-size: 6vw;
}


.button {
  background: linear-gradient(90deg, rgba(134,101,214,1) 0%, rgba(48,154,202,1) 100%);
  color: white;
  border-radius: 25px;
  padding: 10px 20px;
  border: none;
  box-shadow: rgb(48, 154, 202) 0px 4px 9px 0px;
}

.button:hover {
  cursor: pointer;
  /* Darker shade for hover effect */

}
.project-image{
  align-self: center;
  height: 50%;
  width: 90%; 
  
}
#Projects{
  padding-top:10vh ;
  display: grid;
  grid-template-columns:35vw 35vw;
  grid-gap: 2vw;
}
.project{
  width: 25vw;
  height: 30vw;
  border-width: 0.3px;
  border-style: solid;
  border-image: linear-gradient(to right, rgba(134,101,214,1) 0%,rgba(48,154,202,1)) 1;
  display: flex;
  flex-direction: column;
  padding: 5%;
}

#headig-size-project{
  font-size: 5vw;
  
}
.projecttitle{
  padding-top: 8%;
  padding-bottom: 2%;
  margin-left: 4%;
  font-size: large;
  
  /* align-self: left; */
}
.projectpara{
  font-size: 100%;
  margin-left: 4%;
  color: grey;
}
.btn-container{
  padding-top: 10%;
  margin-left: 4%;

}
.sub-para{
  color: grey;
  padding-bottom: 4%;
}
.socialprofile{
  display:flex;
  width: 10vw;
  height: 5vh;
  justify-content: space-around;
}
#insta{
  background-color: white;
  border-radius: 100%;
}

.sec-button{
  
  color: white;
  border-radius: 25px;
  padding: 10px 20px;
  border: 2px solid white;
  margin-left: 2vw;
  cursor: pointer;
}

@media only screen and (max-width: 455px) {

  #head {
  display: flex;
  padding-top: 0;
  flex-direction:column-reverse;
  height: 60vh;
  justify-content: space-around;
}

#Projects{
  padding-top:0vw ;
  display: grid;
  grid-template-columns:80vw;
}
.project{
  width: 60vw;
  height:90vw;
}
nav li{
  display: none;
}
nav{
  width: 66vw;
  padding-top: 1vh;
}
#top-image{
  /* align-self: center; */
  width: 66vw;
}

.socialprofile{
  display:flex;
  width: 30vw;
  height: 5vh;
  justify-content: space-around;
}
#head-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#head-text p{
  display: none;
}
.button{
  /* display: block; */
  margin-top: 5px;
  margin-bottom: 5px;
}
#logo-text{
  font-size: 42px;
}
.only-for-res{
  margin-bottom: 20px;
}
.sec-button{
  display: none;
}


}